{{define "title"}}Actions{{end}}

{{define "content"}}

<!-- Start of new content  -->
<div class="row">
  <!-- Jumbotron  -->
  <div class="col-md-12">
    <div class="jumbotron jumbotron-fluid" style="background-color: #212121;color: white;padding: 25px">
      <div class="container">
        <button class="btn btn-light btn-jumbo" onclick="history.back(-1);">Back</button>
        <h2 class="bg-dark" style="padding:5px;display:inline-block;">
          {{ .Run.Repository.FullName }}
        </h2>
        <h3 class="display-4">
          {{ .Run.Event }}
          {{ if .Run.PullRequests }}
          <span class="text-secondary">
            #{{ (index .Run.PullRequests 0).Number }}
          </span>
          {{end}}
        </h3>
        <p class="lead ws-lead">
          {{if or (eq (.Run.Status | toString) "queued") (eq (.Run.Status | toString) "in_progress") (eq (.Run.Status | toString) "waiting") (eq (.Run.Status | toString) "requested")}}
          <span class="badge bg-warn ws-lead-status"><i class="bi {{.Run.Status | iconCase}} ws-lead-icon" style="color: white;"></i>{{ .Run.Status }}</span> Branch <span class="badge bg-primary">{{ .Run.HeadBranch }}</span>
          {{end}}
          {{if .Run.Conclusion }}
          <span class="badge {{.Run.Conclusion | colorCase}} ws-lead-status"><i class="bi {{.Run.Conclusion | iconCase}} ws-lead-icon" style="color: white;"></i>{{ .Run.Conclusion }}</span> Branch <span class="badge bg-primary">{{ .Run.HeadBranch }}</span>
          {{else}}
          {{end}}
        </p>
      </div>
    </div>
  </div>
  <!-- End Jumbotron -->

  <!-- Steps -->
  <div class="col-12 col-lg-8">
    <div class="row">
      {{if not .Jobs.Jobs}}
      <div class="col-md-12 job-0">
        <div class="step-container" style="padding: 10px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{if or (eq (.Run.Status | toString) "queued") (eq (.Run.Status | toString) "in_progress")}}
                  Jobs are currently {{.Run.Status}}
                {{end}}
                {{if .Run.Conclusion}}
                  No jobs have been run.
                {{end}}
              </h5>
            </div>
          </div>
        </div>
      </div>
      {{end}}
      {{ range $index, $val := .Jobs.Jobs }}
      {{ $index := add $index }}
      <div class="col-md-12 job-{{ $val.ID }}">
        <div class="step-container" style="padding: 10px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Step #{{ $index }}: {{ $val.Name }} 
                {{if or (eq ($val.Status | toString) "queued") (eq ($val.Status | toString) "in_progress")}}
                  <i class="bi {{$val.Status | iconCase}}"></i>
                {{else}}
                  <i class="bi {{$val.Conclusion | iconCase}}"></i>
                {{end}}
              </h5>
              <p class="lead card-lead">
                <span class="fs-6 text text-muted">
                  {{if or (eq ($val.Status | toString) "queued") (eq ($val.Status | toString) "in_progress")}}
                  <span><i class="job-icon bi {{$val.Status | iconCase}}"></i>Started: {{$val.StartedAt | timeAgo }}</span>
                  {{end}}
                  {{if $val.Conclusion}}
                  <span><i class="job-icon bi {{$val.Conclusion | iconCase}}"></i>Started: {{$val.StartedAt | timeAgo }}</span>
                  {{end}}
                  {{if $val.CompletedAt}}
                  | <span>Finished: {{$val.CompletedAt | timeAgo }}</span>
                  {{end}}
                </span>

                <div class="accordion" id="steps-accordion">
                  {{range $i, $step := $val.Steps}}
                  <div class="accordion-item {{if $step.Conclusion}}{{if (eq ($step.Conclusion | toString) "failure")}}step-failed{{end}}{{end}}">
                    <h2 class="accordion-header" >
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{$step.Name | compact}}-{{$step.Number}}" aria-expanded="false" aria-controls="{{$step.Name | compact}}-{{$step.Number}}">
                        {{if $step.Conclusion}}<i class="step-icon bi {{ $step.Conclusion | iconCase }}"></i>{{else}}<i class="step-icon bi {{ $step.Status | iconCase }}"></i>{{end}} #{{$step.Number}} {{ $step.Name }}
                      </button>
                    </h2>
                    <div id="{{$step.Name | compact}}-{{$step.Number}}" class="accordion-collapse collapse" aria-labelledby="heading-{{$step.Name | compact}}-{{$step.Number}}" data-bs-parent="#steps-accordion">
                      <div class="accordion-body step-item" id="job-${{ $val.ID }}-step-{{ $step.Number }}">
                        {{if $step.StartedAt}}
                        Started at: {{ $step.StartedAt | timeAgo }}
                        {{else}}
                        Status: {{ $step.Status }}
                        {{end}}
                        <a href="{{ $val.HTMLURL }}" class="btn btn-light btn-sm btn-run" target="_blank">View Logs</a>
                      </div>
                    </div>
                  </div>
                  {{end}}
                </div>

                <a href="{{ $val.HTMLURL }}" class="btn btn-light btn-sm btn-run" target="_blank">Check Step</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <!-- End Steps -->

  <div class="col-12 col-lg-4">
    <div class="action-sidebar">
      <div class="card">
        <div class="card-header">
          Legend  
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <i class="step-icon bi bi-check"></i> - Success
            </li>
            <li class="list-group-item">
              <i class="step-icon bi bi-x"></i> - Failure
            </li>
            <li class="list-group-item">
              <i class="step-icon bi bi-exclamation-circle"></i> - Skipped
            </li>
            <li class="list-group-item">
              <i class="step-icon bi bi-arrow-clockwise icn-spinner"></i> - In Progress
            </li>
          </ul> 
        </div>
      </div>
      <ul class="list-group actions-list-group">
        <li class="list-group-item"><i class="bi bi-github"></i> <a href="{{ .Run.Repository.HTMLURL }}" target="_blank">Github Repository</a></li>
        <li class="list-group-item"><i class="bi bi-github"></i> <a href="{{ .Run.HTMLURL }}" target="_blank">Action Logs</a></li>
      </ul>
    </div>
  </div>
</div>

<script>
  function connect() {
    const websocket = new WebSocket("ws://localhost:8080/ws?id={{.Run.ID}}&repo={{.Run.Repository.Name}}&path=action");
    websocket.onopen = function(event) {
      console.log("Successfully connected to websocket server");
    };

    websocket.onerror = function(error) {
      console.log("Error connecting to websocket server");
      console.log(error);
    };

    websocket.onmessage = function(event) {
      action = JSON.parse(event.data);

      if (action.Run.conclusion) {
        // Close connection when job has finished
        websocket.close();
      }

      updateRun();
      updateJob();
    };
  }

  function updateJob() {
    let lastJobId = (action.Jobs.jobs[0].id) ? action.Jobs.jobs[0].id : 0;
    $.each(action.Jobs.jobs, function(index, item) {
      let icon = (item.conclusion) ? item.conclusion : item.status;
      let steps = "";
      if ($('.job-0').length > 0) {
        $(`.job-0`).replaceWith(`<div class="col-md-12 job-${item.id}"><div class="step-container"><div class="card"><div class="card-body"><h5 class="card-title">Step #${index}: ${item.name} <i class="bi ${getIcon(icon)}"></i></h5><p class="lead card-lead"><span class="fs-6 text text-muted"><i class="job-icon bi ${getIcon(icon)}"></i> Started: ${timeAgo(item.started_at)}</span></p><div class="accordion" id="steps-accordion">${steps}</div></div></div></div></div>`);

      }

      $.each(item.steps, function(ind, step) {
        let step_icon = (step.conclusion) ? step.conclusion : step.status;
        steps += updateSteps(step, step_icon, item.html_url);
      });

      if ($(`.job-${item.id}`).length == 0) {
        $(`.job-${lastJobId}`).after(`<div class="col-md-12 job-${item.id}"><div class="step-container"><div class="card"><div class="card-body"><h5 class="card-title">Step #${index}: ${item.name} <i class="bi ${getIcon(icon)}"></i></h5><p class="lead card-lead"><span class="fs-6 text text-muted"><i class="job-icon bi ${getIcon(icon)}"></i> Started: ${timeAgo(item.started_at)}</span></p><div class="accordion" id="steps-accordion">${steps}</div></div></div></div></div>`);
      } else {
        $(`.job-${item.id}`).replaceWith(`<div class="col-md-12 job-${item.id}"><div class="step-container"><div class="card"><div class="card-body"><h5 class="card-title">Step #${index}: ${item.name} <i class="bi ${getIcon(icon)}"></i></h5><p class="lead card-lead"><span class="fs-6 text text-muted"><i class="job-icon bi ${getIcon(icon)}"></i> Started: ${timeAgo(item.started_at)}</span></p><div class="accordion" id="steps-accordion">${steps}</div></div></div></div></div>`);
      }

      lastJobId = item.id;
    });   
  }

  function updateSteps(item, icon, log_url) {
    let conclusion = (item.conclusion) ? item.conclusion : "";
    return `<div class="accordion-item ${getStatus(conclusion)}"><h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#${compact(item.name)}-${item.number}" aria-expanded="false" aria-controls="${compact(item.name)}-${item.number}"><i class="step-icon bi ${getIcon(icon)}"></i> #${item.number} ${item.name}</button></h2><div id="${compact(item.name)}-${item.number}" class="accordion-collapse collapse" aria-labelledby="heading-${compact(item.name)}-${item.number}" data-bs-parent="#steps-accordion"><div class="accordion-body step-item" id="job-${item.id}-step-${item.number}">Started: ${timeAgo(item.started_at)} <a href="${log_url}" class="btn btn-light btn-sm btn-run" target="_blank">View Logs</a></div></div></div>`;
  }

  function updateRun() {
    if(action.Run.conclusion) {
      icon = getIcon(action.Run.conclusion);
      $('.ws-lead-status').text(action.Run.conclusion)
      $('.ws-lead-status').replaceWith('<span class="badge '+getBackground(action.Run.conclusion)+' ws-lead-status"><i class="bi '+getIcon(action.Run.conclusion)+' ws-lead-icon" style="color: white;"></i>'+action.Run.conclusion+'</span>')
      $('.ws-lead-status').effect("highlight", {}, 1500);
    } else {
      icon = getIcon(action.Run.status);
      $('.ws-lead-status').text(action.Run.status)
      $('.ws-lead-status').replaceWith('<span class="badge '+getBackground(action.Run.status)+' ws-lead-status"><i class="bi '+getIcon(action.Run.status)+' ws-lead-icon" style="color: white;"></i>'+action.Run.status+'</span>')
      $('.ws-lead-status').effect("highlight", {}, 1500);
    }
  }

  function compact(str) {
    str_lower = str.toLowerCase();
    str1 = str_lower.replaceAll(" ", "-");
		str2 = str1.replaceAll("@", "");
		str3 = str2.replaceAll("/", "");
		str4 = str3.replaceAll(":", "");
    return str4
  }

  function timeAgo(str) {
    return moment(str).fromNow();
  }

  function getStatus(status) {
    switch(status) {
      case "failure":
        return "step-failed";
        break;
      default:
        return "";
    }
  }

  function getIcon(str) {
    switch(str) {
      case "cancelled":
        return "bi-x";
        break;
      case "failure":
        return "bi-x";
        break;
      case "timed_out":
        return "bi-x";
        break;
      case "startup_failure":
        return "bi-x";
        break;
      case "queued":
        return "bi-arrow-clockwise icn-spinner";
        break;
      case "in_progress":
        return "bi-arrow-clockwise icn-spinner";
        break;
      case "success":
        return "bi-check";
        break;
      default:
        return "bi-exclamation-circle";
    }
  }

  function getBackground(str) {
    switch(str) {
      case "cancelled":
        return "bg-dang";
        break;
      case "failure":
        return "bg-dang";
        break;
      case "timed_out":
        return "bg-dang";
        break;
      case "startup_failure":
        return "bg-dang";
        break;
      case "queued":
        return "bg-warn";
        break;
      case "in_progress":
        return "bg-warn";
        break;
      case "waiting":
        return "bg-warn";
        break;
      case "requested":
        return "bg-warn";
        break;
     case "skipped":
        return "bg-warn";
        break;
      case "success":
        return "bg-succ";
        break;
      default:
        return "bg-warn";
    }
  }

  let action = {};
  let status = '{{.Run.Status}}';

  if (status == "queued" || status == "in_progress") {
    connect();
  }

  window.addEventListener('load', function() {
    if($('.step-failed').length > 0) {
      $('html, body').animate({
        scrollTop: $(".step-failed").offset().top
      }, 500);
    }
  });
</script>
{{end}}
