{{define "title"}}Goverview{{end}}

{{define "content"}}
<!-- Start of new content  -->
<div class="row">
  <!-- Jumbotron  -->
  <div class="col-md-12">
    <div class="jumbotron jumbotron-fluid" style="background-color: #212121;color: white;padding: 25px">
      <div class="container">
        <h2 class="bg-dark" style="padding:5px;display:inline-block;">
          Goverview - Storyful
        </h2>
      </div>
    </div>
  </div>
  <!-- End Jumbotron -->
</div>

<div class="row">
  <div class="col-md-12">
    Place some jobs statistics here for the organization.
  </div>
</div>

<div class="row row-cols-4 index-container">
  {{ range $val := .}}
    {{ if not $val.Runs }}
    {{else}}
      {{ range $run := $val.Runs }}
      <div class="col repo-card">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h4 class="bg-dark repo-information">
                {{$val.Repository}} <span class="text-secondary">#{{ $run.RunNumber }}</span>
              </h4>
            </div>
            <div class="card-text">
              <div class="event-information">
                <span class="badge bg-primary">{{ $run.Event }}</span>
                <span class="badge bg-success">{{ $run.Status }}</span>
              </div>
              <a href="/workflow/{{ $run.Repository.Name }}/{{ $run.ID }}">View Action</a>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    {{end}}
    
  {{ end }}
</div>
{{end}}
