{{define "title"}}Goverview{{end}}

{{define "content"}}
<!-- Start of new content  -->
<div class="row">
  <!-- Jumbotron  -->
  <div class="col-md-12">
    <div class="jumbotron jumbotron-fluid" style="background-color: #212121;color: white;padding: 25px">
      <div class="container">
        <h2 class="bg-dark" style="padding:5px;display:inline-block;">
          Goverview - Storyful
        </h2>
      </div>
    </div>
  </div>
  <!-- End Jumbotron -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row row-cols-3 index-container">
      <div class="col">
        <div class="card home-statistics">
          <span class="text-muted">Successful Runs</span>
          <span class="stats-value">15</span>
        </div>
      </div>
      <div class="col">
        <div class="card home-statistics">
          <span class="text-muted">Failed Runs</span>
          <span class="stats-value">5</span>
        </div>
      </div>
      <div class="col">
        <div class="card home-statistics">
          <span class="text-muted">Billable Hours</span>
          <span class="stats-value">150 hours</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-4 index-container">
  {{ range $val := .}}
    {{ if not $val.Runs }}
    {{else}}
      {{ range $run := $val.Runs }}
      <div class="col repo-card">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h4 class="bg-dark repo-information">
                {{$val.Repository}} <span class="text-secondary">#{{ $run.RunNumber }}</span>
              </h4>
            </div>
            <div class="card-text">
              <div class="event-information">
                {{ if $run.Conclusion }}
                <span class="badge {{ $run.Conclusion | colorCase }}"><i class="bi {{$run.Conclusion | iconCase}}" style="color:white;"></i>{{ $run.Conclusion }}</span>
                {{ else }}
                <span class="badge {{ $run.Status | colorCase }}"><i class="bi {{$run.Status | iconCase}}" style="color:white;"></i> {{ $run.Status }}</span>
                {{ end }}
                <span class="badge bg-primary">{{ $run.Event }}</span>
                <a href="/workflow/{{ $run.Repository.Name }}/{{ $run.ID }}">View Action</a>
              </div>
              <div class="time-information">
                <span class="text-muted">{{ $run.CreatedAt | timeAgo }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    {{end}}
    
  {{ end }}
</div>
{{end}}
