.actions-list-group {
  padding: 10px;
}

.step-icon {
  padding-right: 5px;
}

.step-icon:before {
  font-size: 24px;
}

.btn-jumbo {
  float: right;
  margin-top: 5px;
}

.bi-x {
  color: red;
}

.bi-check {
  color: green;
}

.bi-gear {
  color: orange;
}

.bi-exclamation-circle {
  color: orange;
}

.bi-arrow-clockwise {
  color: blue;
}

.card-lead {
  display: flex;
  flex-direction: column;
}

.btn-run {
  display: inline-block;
  margin-top: 10px;
  width: 120px;
  border-color: #E6E7E7;
}

.icn-spinner {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.step-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
